/* .dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
  }
  
  .dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }

  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 1000

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   */

/* Start of home page css */
* {
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/images/pattern-randomized.svg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
  overflow-x: hidden;
  max-width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "DM Sans", sans-serif;
}

.headernav {
  background-color: white;
  box-shadow: 0px 2px 40.91px -12.003px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.headernav ul{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.headernav li{
  height: 50px;
}

.headernav a{
  height: 100%;
  padding: 0 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

.headernav a:hover {
  background-color: #f0f0f0;
}

.headernav li:first-child {
  margin-right: auto;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
}

.first-section {
  margin:0;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 65vh;
  overflow: hidden;
  position: relative;
}

.first-section div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
}

.hero-img {
 z-index: -999;
 position: absolute;
 left: 45%;
 top: 20%;
 overflow: hidden;
}

#header-nav .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
  backdrop-filter: fill;
  box-shadow: 0px 2px 40.91px -12.003px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

#header-nav .sidebar li{
  width: 100%;
  
}



#header-nav .sidebar a{
  width: 100%;
  border-bottom: solid 1px lightgray;
  color: white;
}

#header-nav .sidebar a:hover{
  background-color: black;
}

#header-nav .desktop-links{
  display: none;
}

#filters {
  width: 1;
  display: none;
}

#container {
  /* Center the text in the viewport. */
  margin: auto;
  width: 100%;
  height: 90%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  /* filter: url(#threshold) blur(0.6px); */
}



/* Your average text styling */
.first-section h1 {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  background-image: url(https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif?cid=790b7611cwkmi5iylx997ojtsajyib6faqdylm2wnfd4k12z&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  margin: 4rem 0 0;
  user-select: none;
  animation: 8s ease-in infinite textanimation;
}

/* @keyframes textanimation{
  from {
    transform: translateX(680px);
  }
  to {
    transform: translateX(-650px);
  }
} */

.about{
  height: 33rem;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.about h1{
  margin: 1rem;
  font-size: 4rem;
  font-weight: 500;
}

.about aside {
  padding: 1rem;
  margin-bottom: 1rem;
}

.workhistory {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.workhistory h3 {
  margin-bottom: 1rem;
  color: #979797;
  font-family: "DM Mono";
  font-weight: 500;
  line-height: normal;
  width: 100%;
}

.workhistory div {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.workhistory div img {
  width: 50px;
  height: 50px;
}

.workhistory div p {
  color: #B6B4B4;
}

.workhistory div p span {
  color: white;
}

.project-section {
  display: grid;
  margin: 0 .5rem;
  height: 1060px;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 405px 372px;
  grid-template-areas: "projectTitle"
                      "projectSkills"
                      "projectWork";
}

.project-header img {
  width: 42px;
  height: 40px;
  stroke-width: 4.001px;
  stroke: #000;
  margin-right: 1rem;
}

.project-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 90px;
  border-bottom: solid 1px black;
  width: 98%;
  justify-self: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 1fr;
  grid-template-areas: "time-frame discipline"
                        "tools skillsgrid";
  height: 420px;
  width: 408px;
  margin: .5rem;
}

.skills ul{
  list-style-type: none;
}

.skills li{
  margin-top: 1rem;
  font-size: 1rem;
}

.skills h3{
  margin-top: 2rem;
  font-size: 1.5rem;
}

.timeframe{
  height: 21px;
}

.skill {
  border: solid 1px;
  border-radius: 3rem;
  padding: .5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem .3rem;
}

.skills-grid h3 {
  width: 100%;
  align-self: flex-start;
}

.tools h3 {
  margin: 0;
}

.mywork {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 98%;
  height: 672px;
  padding: 1rem 0;
}

.travmeborder{
  border-bottom: solid 1px;
  padding: .5rem;
}

.travmeborder img {
  margin-right: 1rem;
}

.projects button{
  display: none
}

.projects {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.projects aside {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: solid 1px;
  padding: .5rem;
}

.projects div{
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  height: 62px;
  margin: .5rem 0;
  width: 75%;
  border-left: solid 1px;
  padding: 1rem;
}

.projects aside img {
  margin-right: 1rem;
}

.projects div p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.button-view{
  display: none;
}

.bigbuttons {
  height: 811px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.bigbuttons button {
  height: 50%;
  display: flex;
  padding: 1.5rem;
  align-items: flex-end;
  border-radius: .5rem;
  border: none;
  background-color: #7BB4EF;
}

.bigbuttons button h1 {
  font-size: 4rem;
}

.bigbuttons button:last-child {
  background-color: #F08381;
}

.last-section div { 
  height:315px ;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}
.last-section div h1{
  font-size: 3rem;
  font-weight: 400;
}



